#main-inicio {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#seacher-sign {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    width: 100%;
}
#form-filter-sign{
    width: 100%;
    gap: 0px 30px;
}
#table-main{
    max-height: 700px !important; /* Ajusta la altura según necesites */
    overflow-y: auto; /* Agrega scroll vertical */
    border: 1px solid #ccc; /* Opcional: para visualizar mejor el área */
}
#table-main table {
    width: 100%;
    border-collapse: collapse;
    /* margin: 0px 10px; */
    /* background-color: red; */
        margin-bottom: 0rem !important;
}

#table-main th, td {
    padding: 10px;
    border: 1px solid #ddd;
    /* text-align: left; */
}

#table-main th {
    background-color: #333;
    color: white;
    position: sticky;
    top: 0;
}

.img-letrero {
    max-width: 75px;
    min-height: 75px;
    cursor: pointer;
}

.icons-styles {
    font-size: 1.5rem;
    cursor: pointer;
}



/* MODAL IMAGEN */
#modalImagen .modal-content {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

#modalImagen .modal-backdrop.show {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

#modalImagen .modal-header {
    border-bottom: 0px !important;
}

.img-modal-container {
    min-height: 70vh;
    /* Da un alto mínimo al contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Clase para la imagen dentro del modal */
.img-modal {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#modalImagen .btn-close {
    font-size: 30px;
}

/* LOADING */
#content-loading {
    width: 350px;
    height: 350px;

}

#content-loading img {
    width: 100% !important;
    height: 100% !important;
}