* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-x: hidden;
}

#main-content {
    width: 100%;
    /* min-height: 100vh%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    /* Cambiado height: 100vh por min-height */
}

/* Asegura que el footer quede en la parte inferior */
